.img_meme {
	margin: 15px auto;
	width: 400px;
	border-width: 10px;
	border-color: red;
	border-style: solid dotted double ridge;
	border-radius: 20%;
	background-color: yellow;
	padding-top: 15px;
	padding-right: 5px;
	padding-bottom: 15px;
	padding-left: 5px;

	/* tambien se puede hacer padding: 20px 15px 5px 10px poniendo los valores en sentido horario iniciando desde el top; tambien funciona con margin*/
}
/* tambien se puede asignar una clase a las etiquetas div y llamar directamente a la clase a personalizar */
div {
	background-color: aquamarine;
}
/* selector de atributos: */
img[alt] {
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}
input[type="radio"] {
	margin: 5px;
}
[type="checkbox"] {
	margin: 10px;
}
#gato1 {
	/* Establece un contexto de posicionamiento para que ::before se posicione relativo a #gato1 */
	position: relative;
	/* Asegura que el contenido (el enlace y la imagen) esté por encima del fondo */
	z-index: 1;
}

#gato1::before {
	content: ""; /* Obligatorio para pseudo-elementos */
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	/* *Aquí es donde aplicas tu imagen y la transparencia* */
	background-image: url("resources/0mnmwv3c7a091.png");
	background-size: cover;
	background-position: center;
	opacity: 0.65; /* <-- Ajusta este valor (0.0 a 1.0) para la transparencia deseada */

	/* Coloca el pseudo-elemento detrás del contenido real */
	z-index: -1;
}
