.lista_meme {
	color: chocolate;
}
h2 {
	font-size: 50px;
}
h3 {
	font-size: 25px;
}
p,
h4,
ol {
	font-size: 20px;
}
li {
	color: blue;
	font-size: 15px;
	font-family: "Momo Signature", cursive;
	font-weight: 400;
	font-style: normal;
}
a {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.list_item {
	font-size: 15px;
	font-family: "Momo Signature", cursive;
	font-weight: 400;
	font-style: normal;
}
