#background {
	margin: 0;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	transition: background-color 0.4s ease;
}
#background::before {
	content: "";
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url("resources/luffy-wallpaper.png");
	background-size: cover;
	background-position: center;
	z-index: -1;
}
.random {
	color: white;
	border-radius: 40%;
	background-color: #333;
	padding: 10px;
	cursor: pointer;
	border-width: 2px;
	border-style: solid;
	border-color: white;
	text-align: center;
	font-weight: bold;
}
#bar-color {
	margin-top: 50px;
	text-align: center;
	color: white;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
footer {
	background-color: rgb(51, 51, 51);
	width: 100vw;
	position: absolute;
	bottom: 0px;
	color: white;
	text-align: center;
}
